*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(105, 255, 130);
    text-align: center;
}

.container{
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;


}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);

    font-size: 8vmin;
    color: rgb(3, 136, 92);
}